<main class="main columns">
    <section class="column main-column">
      <a class="article first-article" routerLink="/drivers">
        <figure class="article-image is-16by9">
          <img src="https://cdn.vox-cdn.com/thumbor/Nq9bJv_uvvjq5NZ17GuOzaLzpiU=/0x0:1200x800/920x613/filters:focal(554x258:746x450):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/70621175/F1Season4Storylines_Getty_Ringer.0.jpeg" alt="">
        </figure>
        <div class="article-body">
          <h2 class="article-title">
            Who races in F1?
          </h2>
          <p class="article-content">
            Extreme g-forces. Daring decisions made in the blink of an eye – and at 370km/h. Dramatically battling to be the best, Formula 1 drivers are more like fighter pilots than sportspeople. Only 20 get the chance to compete, and they push themselves – and their incredible machines – to the very limit.
          </p>
          <footer class="article-info">
            <span>By Sophie Brookover</span>
          </footer>
        </div>
      </a>
  
      <a class="article" >
        <figure class="article-image is-16by9">
          <img src="https://media.formula1.com/image/upload/t_16by9South/f_auto/q_auto/v1682435732/GettyImages-1471440320.jpg.transform/9col/image.jpg" alt="">
        </figure>
        <div class="article-body">
          <h2 class="article-title">
            Start lights
          </h2>
          <p class="article-content">
            How does the F1 weekend work? What’s F1 Sprint? And why is it called Formula 1? You’ve got questions – we’ve got answers...
          </p>
          <footer class="article-info">
            <span>By Formula-1</span>
          </footer>
        </div>
      </a>
    </section>
  
    <section class="column">
      <a class="article" routerLink="/drivers">
        <figure class="article-image is-3by2">
          <img src="https://media.formula1.com/image/upload/t_16by9Centre/f_auto/q_auto/v1682606473/Teams_1920x1080.jpg.transform/6col/image.jpg" alt="">
        </figure>
        <div class="article-body">
          <h2 class="article-title">
            Who are the F1 teams?
          </h2>
          <p class="article-content">
            Formula 1 is a team sport. It needs to be to change all 4 tyres on a car in under 2 seconds! F1 teams design and build their cars and get them ready to race. Each has their own history. Each has their own unique approach. All want to be the fastest. But who should you root for?
          </p>
          <footer class="article-info">
            <span>By Formula-1</span>
            
          </footer>
        </div>
      </a>
      <a class="article" routerLink="/schedule">
        <div class="article-body">
          <h2 class="article-title">
            Where does F1 race?
          </h2>
          <p class="article-content">
            Some sports play stadiums. Our 'stadiums' span cities. With 23 races in 23 amazing locations across 5 continents, Formula 1 is truly an international sport.
          </p>
          <footer class="article-info">
            <span>By Formula-1</span>
        
          </footer>
        </div>
      </a>
      <a class="article" routerLink="/result">
        <div class="article-body">
          <h2 class="article-title">
            Get up to speed
          </h2>
          <p class="article-content">
            F1 is fast! Day or night. Rain or shine. Our helpful guides explain everything you need to know about... everything you need to know!
          </p>
          <footer class="article-info">
            <span>By Formula-1</span>
          </footer>
        </div>
      </a>
    </section>
  </main>
