<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--ferrari"></div>
        <div class="card__content">
          <div class="card__title">Ferrari</div>
          <p class="card__text"> The first race Ferrari entered was the 1950 Monaco Grand Prix and since then Ferrari has participated in 1058 races in total.
            In these 1058 races, Ferrari won 243 races, finshed on the podium 809 times and scored a total of 10228.61 points. The last race Ferrari has entered was the 2023 Azerbaijan Grand Prix.
            97 drivers have driven for Ferrari and the current drivers are Charles Leclerc & Carlos Sainz. </p>
            <button class="btn btn--block card__btn">Championships: 16</button><br>
          <button class="btn btn--block card__btn">Total Points: 21428.1</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--mclaren"></div>
          <div class="card__content">
            <div class="card__title">McLaren</div>
            <p class="card__text">The first race McLaren entered was the 1968 German Grand Prix and since then McLaren has participated in 887 races in total.
                In these 887 races, McLaren won 179 races, finshed on the podium 478 times and scored a total of 6171.5 points. The last race McLaren has entered was the 2023 Azerbaijan Grand Prix.
                55 drivers have driven for McLaren and the current drivers are Lando Norris & Oscar Piastri.</p>
                <button class="btn btn--block card__btn">Championships: 8</button><br>
                <button class="btn btn--block card__btn">Total Points: 14031</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--williams"></div>
          <div class="card__content">
            <div class="card__title">Williams</div>
            <p class="card__text">The first race Williams entered was the 1975 Argentine Grand Prix and since then Williams has participated in 801 races in total.
                In these 801 races, Williams won 114 races, finshed on the podium 314 times and scored a total of 3599 points. The last race Williams has entered was the 2023 Azerbaijan Grand Prix.
                61 drivers have driven for Williams and the current drivers are Alexander Albon & Logan Sargeant. </p>
                <button class="btn btn--block card__btn">Championships: 9</button><br>
                <button class="btn btn--block card__btn">Total Points: 9280</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--mercedes"></div>
          <div class="card__content">
            <div class="card__title">Mercedes</div>
            <p class="card__text"> The first race Mercedes entered was the 1954 French Grand Prix and since then Mercedes has participated in 275 races in total.
                In these 275 races, Mercedes won 125 races, finshed on the podium 282 times and scored a total of 7028.64 points. The last race Mercedes has entered was the 2023 Azerbaijan Grand Prix.
                12 drivers have driven for Mercedes and the current drivers are Lewis Hamilton & George Russell. </p>
                <button class="btn btn--block card__btn">Championships: 8</button><br>
                <button class="btn btn--block card__btn">Total Points: 7391.6</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--redbull"></div>
          <div class="card__content">
            <div class="card__title">Red Bull</div>
            <p class="card__text"> The first race Red Bull entered was the 2005 Australian Grand Prix and since then Red Bull has participated in 352 races in total.
                In these 352 races, Red Bull won 96 races, finshed on the podium 241 times and scored a total of 6568 points. The last race Red Bull has entered was the 2023 Azerbaijan Grand Prix.
                12 drivers have driven for Red Bull and the current drivers are Sergio Pérez & Max Verstappen. </p>
                <button class="btn btn--block card__btn">Championships: 5</button><br>
                <button class="btn btn--block card__btn">Total Points: 7080.5</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--alfaromeo"></div>
          <div class="card__content">
            <div class="card__title">Alfa Romeo</div>
            <p class="card__text"> The first race Alfa Romeo entered was the 1950 British Grand Prix and since then Alfa Romeo has participated in 198 races in total.
                In these 198 races, Alfa Romeo won 11 races, finshed on the podium 28 times and scored a total of 353 points. The last race Alfa Romeo has entered was the 2023 Azerbaijan Grand Prix.
                23 drivers have driven for Alfa Romeo and the current drivers are Valtteri Bottas & Guanyu Zhou. </p>
                <button class="btn btn--block card__btn">Championships: 0</button><br>
                <button class="btn btn--block card__btn">Total Points: 956</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--alphatauri"></div>
          <div class="card__content">
            <div class="card__title">Alpha Tauri</div>
            <p class="card__text"> The first race AlphaTauri entered was the 2020 Austrian Grand Prix and since then AlphaTauri has participated in 65 races in total.
                In these 65 races, AlphaTauri won 1 race, finshed on the podium 2 times and scored a total of 286 points. The last race AlphaTauri has entered was the 2023 Azerbaijan Grand Prix.
                4 drivers have driven for AlphaTauri and the current drivers are Nyck de Vries & Yuki Tsunoda. </p>
                <button class="btn btn--block card__btn">Championships: 0</button><br>
                <button class="btn btn--block card__btn">Total Points: 902.5</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--alpine"></div>
          <div class="card__content">
            <div class="card__title">Alpine</div>
            <p class="card__text"> The first race Alpine F1 Team entered was the 2021 Bahrain Grand Prix and since then Alpine F1 Team has participated in 48 races in total.
                In these 48 races, Alpine F1 Team won 1 race, finshed on the podium 2 times and scored a total of 336 points. The last race Alpine F1 Team has entered was the 2023 Azerbaijan Grand Prix.
                3 drivers have driven for Alpine F1 Team and the current drivers are Pierre Gasly & Esteban Ocon. </p>
                <button class="btn btn--block card__btn">Championships: 2</button><br>
                <button class="btn btn--block card__btn">Total Points: 338</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--haas"></div>
          <div class="card__content">
            <div class="card__title">Haas</div>
            <p class="card__text"> The first race Haas F1 Team entered was the 2016 Australian Grand Prix and since then Haas F1 Team has participated in 148 races in total.
                In these 148 races, Haas F1 Team won 0 races, finshed on the podium 0 times and scored a total of 244 points. The last race Haas F1 Team has entered was the 2023 Azerbaijan Grand Prix.
                7 drivers have driven for Haas F1 Team and the current drivers are Nico Hülkenberg & Kevin Magnussen. </p>
                <button class="btn btn--block card__btn">Championships: 0</button><br>
                <button class="btn btn--block card__btn">Total Points: 244</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--aston"></div>
          <div class="card__content">
            <div class="card__title">Aston Martin</div>
            <p class="card__text"> The first race Aston Martin entered was the 1959 Dutch Grand Prix and since then Aston Martin has participated in 54 races in total.
                In these 54 races, Aston Martin won 0 races, finshed on the podium 4 times and scored a total of 219 points. The last race Aston Martin has entered was the 2023 Azerbaijan Grand Prix.
                7 drivers have driven for Aston Martin and the current drivers are Fernando Alonso & Lance Stroll. </p>
                <button class="btn btn--block card__btn">Championships: 0</button><br>
                <button class="btn btn--block card__btn">Total Points: 241</button>
          </div>
        </div>
      </li>
</ul>
